@font-face {
  font-family: 'icoramen';
  src:  url('fonts/icoramen.eot?tc66ok');
  src:  url('fonts/icoramen.eot?tc66ok#iefix') format('embedded-opentype'),
    url('fonts/icoramen.ttf?tc66ok') format('truetype'),
    url('fonts/icoramen.woff?tc66ok') format('woff'),
    url('fonts/icoramen.svg?tc66ok#icoramen') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icr"], [class*=" icr"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoramen' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icrlightbulb:before {
  content: "\77";
}
.icrenvelope:before {
  content: "\75";
}
.icrletter:before {
  content: "\75";
}
.icremail:before {
  content: "\75";
}
.icrmail:before {
  content: "\75";
}
.icrmessage:before {
  content: "\75";
}
.icrexit:before {
  content: "\29";
}
.icrsignout:before {
  content: "\29";
}
.icrlogout:before {
  content: "\29";
}
.icrquit:before {
  content: "\29";
}
.icrclose:before {
  content: "\29";
}
.icrhome1:before {
  content: "\5f";
}
.icrhome:before {
  content: "\2d";
}
.icrbuilding:before {
  content: "\3d";
}
.icrlog-in:before {
  content: "\5d";
}
.icrlog-out:before {
  content: "\5b";
}
.icralert-triangle:before {
  content: "\2b";
}
.icrinfo:before {
  content: "\28";
}
.icrhelp-circle:before {
  content: "\2a";
}
.icrchevrons-up:before {
  content: "\26";
}
.icrchevrons-right:before {
  content: "\5e";
}
.icrchevrons-left:before {
  content: "\25";
}
.icrchevrons-down:before {
  content: "\24";
}
.icrchevron-up:before {
  content: "\40";
}
.icrchevron-right:before {
  content: "\30";
}
.icrchevron-left:before {
  content: "\39";
}
.icrchevron-down:before {
  content: "\21";
}
.icrarrow-up:before {
  content: "\38";
}
.icrarrow-up-right:before {
  content: "\37";
}
.icrarrow-up-left:before {
  content: "\36";
}
.icrarrow-right:before {
  content: "\35";
}
.icrarrow-left:before {
  content: "\34";
}
.icrarrow-down-right:before {
  content: "\33";
}
.icrarrow-down:before {
  content: "\32";
}
.icrarrow-down-left:before {
  content: "\31";
}
.icrtoggle-right:before {
  content: "\74";
}
.icrtoggle-left:before {
  content: "\54";
}
.icrmore-horizontal:before {
  content: "\69";
}
.icrmore-vertical:before {
  content: "\49";
}
.icrlocation:before {
  content: "\4c";
}
.icrmap-marker:before {
  content: "\4c";
}
.icrpin:before {
  content: "\4c";
}
.icrbriefcase:before {
  content: "\42";
}
.icrshopping-bag:before {
  content: "\53";
}
.icrmap-o:before {
  content: "\4d";
}
.icrstack:before {
  content: "\44";
}
.icrdrawer:before {
  content: "\44";
}
.icrinbox:before {
  content: "\44";
}
.icrbox:before {
  content: "\44";
}
.icrphone:before {
  content: "\50";
}
.icrtablet:before {
  content: "\50";
}
.icrmobile:before {
  content: "\50";
}
.icrwallet:before {
  content: "\57";
}
.icrplus-square:before {
  content: "\7a";
}
.icrminus-square:before {
  content: "\79";
}
.icrx-square:before {
  content: "\78";
}
.icrcheck-square:before {
  content: "\76";
}
.icrsquare:before {
  content: "\71";
}
.icrcheck:before {
  content: "\43";
}
.icrx:before {
  content: "\58";
}
.icrthumbs-up:before {
  content: "\6c";
}
.icrthumbs-down:before {
  content: "\6b";
}
.icrgithub:before {
  content: "\47";
}
.icrpython:before {
  content: "\70";
}
.icrglobe:before {
  content: "\4f";
}
.icruser:before {
  content: "\55";
}
.icrphone-call:before {
  content: "\56";
}
.icrshopping-cart:before {
  content: "\72";
}
.icrshield:before {
  content: "\6a";
}
.icrwindy:before {
  content: "\68";
}
.icrcloud:before {
  content: "\66";
}
.icrcloudy:before {
  content: "\62";
}
.icrweather1:before {
  content: "\67";
}
.icrmoon:before {
  content: "\65";
}
.icrsunset:before {
  content: "\61";
}
.icrweather:before {
  content: "\6d";
}
.icrsun:before {
  content: "\63";
}
.icrsunrise:before {
  content: "\64";
}
.icrheart:before {
  content: "\3a";
}
.icrheart-outline:before {
  content: "\3b";
}
.icrsave:before {
  content: "\2f";
}
.icrdownload:before {
  content: "\60";
}
.icrupload:before {
  content: "\7e";
}
.icrsettings:before {
  content: "\7c";
}
.icrradio_off:before {
  content: "\2c";
}
.icrradio_on:before {
  content: "\2e";
}
